* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #222;
    color: #eee;
    padding: 20px 0;
    width: 900px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    background: rgb(64, 64, 255);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

button[type="submit"] {
    background: rgb(18, 177, 71);
}

#cancel-btn {
    background: rgb(133, 133, 133);
}

.delete-btn {
    background: none;
    border: 3px solid rgb(206, 49, 49);
    color: rgb(235, 50, 50);
}

.book-header {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.book-entry {
    background: #333;
    padding: 20px;
    margin: 20px 0;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
}

.book-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.read-btn {
    background: none;
    border: 2px solid #eee;
}

#library > h2 {
    padding-top: 75px;
    text-align: center;
}

input {
    display: block;
}

form {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
}

form > * {
    width: max(50%, 100px);
    margin: 5px auto;
}

label {
    font-size: 1.1rem;
}

input:not([type="checkbox"]) {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: none;
}

input[type="checkbox"] {
    display: inline-block;
    padding: 10px;
    margin-bottom: 0;
}